{% extends 'base.html' %}

{% block main%}
<form action="{{url_for('contact')}}" method="post">
    {{ form.csrf_token }}
    
    <h2>Contact Form</h2>
    <hr color="black">
    <p><strong>Fill in this form to contact the site owners.</strong></p>
    <div>
        <label for="name"><strong>{{ form.name.label }}</strong> <strong style="color:red">(Required)</strong></label>
        <p><strong>Please enter your full name</strong></p>
        {{ form.name(size=40)}}
    </div><br>
    <div>
        <label for="email"><strong>{{ form.email.label }}</strong> <strong style="color:red">(Required)</strong></label>
        <p><strong> Please enter your email address</strong></p>
        {{ form.email(size=40)}}
    </div><br>
    <div>
        <label for="subject"><strong>{{ form.subject.label }}</strong> <strong style="color:red">(Required)</strong></label>
        <p><strong>Please enter the subject for your message</strong></p>
        {{ form.subject(size=40) }}
    </div><br>
    <div>
        <label for="message"><strong>{{ form.message.label }}</strong> <strong style="color:red">(Required)</strong> </label>
        <p> <strong> Please enter the message you would like to send.</strong></p>
        <textarea name="message" id="message" style="width: 50%;" class="form-control" rows="9" cols="25" required="required" placeholder="" spellcheck="false"></textarea>
    </div><br>
    <div >
        <button type="submit" class="submit" style="border-radius: 9px;background-color: blue;border: none;color: white;padding: 9px 33px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;">Send</button>
    </div>
</form>
{% endblock%}
